@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --clrPrimary-cyan: hsl(179, 62%, 43%);
  --clrPrimary-yellow: hsl(71, 73%, 54%);
  --clrPrimary-lightCyan: hsl(179.5, 47.2%, 51.8%);
  --clrNeutral-gray: hsl(204, 43%, 93%);
  --clrNeutral-blue: hsl(218, 22%, 67%);
  --clrNeutral-white: hsl(0, 0%, 100%);
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clrNeutral-gray);
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.pricing {
  margin: 5rem 1rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
}

.section-1 {
  background-color: var(--clrNeutral-white);
  padding: 1.5rem 1.19rem;
}

.section-1-headline {
  font-size: 25px;
  margin-bottom: 2rem;
  color: var(--clrPrimary-cyan);
}

.section-1-subheadline {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: var(--clrPrimary-yellow);
}

.section-1-text {
  margin-bottom: 1rem;
  color: var(--clrNeutral-blue);
  line-height: 1.6;
}
.section-2 {
  padding: 1.5rem;
  background-color: var(--clrPrimary-cyan);
  color: var(--clrNeutral-white);
}

.section-2-headline {
  font-size: 20px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.number {
  font-size: 34px;
  font-weight: 700;
  line-height: 1;
  margin-right: 0.5rem;
}

.price p {
  color: var(--clrNeutral-gray);
}
.section-2-text {
  margin-bottom: 1rem;
}

.btn-link {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  padding: 0.7em 0;
  margin-bottom: 1rem;
  border-radius: 5px;
  background: var(--clrPrimary-yellow);
  color: var(--clrNeutral-white);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
}

.section-3 {
  padding: 1.5rem;
  background-color: var(--clrPrimary-lightCyan);
  color: var(--clrNeutral-white);
}

.section-3-headline {
  font-size: 20px;
  margin-bottom: 1rem;
}

ul {
  color: var(--clrNeutral-gray);
  margin-bottom: 1rem;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .pricing {
    display: grid;
    grid-template-areas:
      'section-1 section-1'
      'section-2 section-3';
    width: 50%;
  }

  .section-1 {
    grid-area: section-1;
    padding: 2rem;
  }

  .section-1-subheadline {
    margin-bottom: 0.8rem;
  }

  .section-1-text {
    margin-bottom: 0;
    padding-right: 3rem;
  }

  .section-2 {
    grid-area: section-2;
    padding: 2rem;
  }

  .section-2-headline {
    margin-top: 0;
  }

  .section-3 {
    grid-area: section-3;
    padding: 2rem;
  }

  .section-3-text {
    margin-bottom: 0;
  }

  .btn-link {
    margin-top: 2.8rem;
    margin-bottom: 0;
  }
}

.attribution {
  position: absolute;
  bottom: 2%;
  left: 0;
  font-size: 11px;
  text-align: center;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
